body {
    margin: 0px;
    width: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 0px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 0em;
    line-height: 0em;
    color: #333;
}
footer {
    border-top: 0px;
    font-size: 0em;
    line-height: 0em;
}

ul.posts { 
    margin: 0px; 
    font-size: 0em;
}

ul.posts li {
    list-style: none;
}
