<!DOCTYPE html>
<html>
	<head>
		<!this is the title>
		<title>yyc____</title> 
		<!-- link to main stylesheet -->  
		<link rel="stylesheet" type="text/css" href="/css/main.css">  
		<!-- link to the tab icon -->
		<link rel="icon" type="image/png" href="images/yyc.jpg" />
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">主頁</a></li>
	        	<li><a href="/about">關於我</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/misc">Misc</a></li>
    		</ul>
		</nav>
		
		<!this is the body>
		<div class="container">    
    		<div class="blurb">
        		<h1>Hello, goofybots</h1>
				<p><i>But if it makes you happy, keep on clapping <a href="/about"><br /></i></p>
				<!now try some image...>
				<img src="images/suzhouriver.jpg" alt="Suzhou River" class="inline"/><br />
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:yangyc.frank@gmail.com">email</a></li>
        		<li><a href="https://github.com/yangycfrank">github.com/yangycfrank</a></li>
			</ul>
		</footer>
	</body>
</html>
