<!DOCTYPE html>
<html>
	<head>
		<title>Frank Yang, Goofybot</title> <!this is title>
		<!-- link to main stylesheet -->  
		<link rel="stylesheet" type="text/css" href="/css/main.css">   
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">主頁</a></li>
	        	<li><a href="/about">關於我</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/misc">Misc</a></li>
    		</ul>
		</nav>
		<div class="container">    <!this is body>
    		<div class="blurb">
        		<h1>Hello, goofybots</h1>
				<p>But if it makes you happy, keep on clapping <a href="/about">Read more about my life</a></p>  <!now try some image...>
				![Suzhou River](https://raw.githubusercontent.com/yangycfrank/yangycfrank.github.io/master/images/suzhouriver.jpg)
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:yangyc.frank@gmail.com">email</a></li>
        		<li><a href="https://github.com/yangycfrank">github.com/yangycfrank</a></li>
			</ul>
		</footer>
	</body>
</html>
